<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" src="static/js/arc.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<title>Pear network - node control</title>
	</head>
	<body>
		<h1>Pear network - node control</h1>
		<nav>
			<ul>
				<li><a href="#settings">Settings</a></li>
				<li><a href="#connect">Connect</a></li>
				<li><a href="#peers">Peers</a></li>
				<li><a href="#data">Data</a></li>
			</ul>
		</nav>
		<div class="frame" id="settings">
			<h2>Settings</h2>
			<form>
				<table></table>
				<input type="submit" value="Save" />
			</form>
		</div>
		<div class="frame" id="connect">
			<h2>Connect</h2>
			<form>
				<input type="text" name="q" />
				<input type="submit" value="Search" />
			</form><br/>
			<ul></ul>
		</div>
		<div class="frame" id="peers">
			<h2>Peers</h2>
			<ul></ul>
		</div>
		<script type="text/javascript" src="static/js/script.js"></script>
	</body>
</html>
