<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" src="static/js/arc.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<title>p2pNode Control Panel</title>
	</head>
	<body>
		<!--h1>p2pNode Control Panel</h1-->
		<nav>
			<ul>
				<li><a href="#settings">Settings</a></li>
				<li><a href="#users">Users</a></li>
				<li><a href="#content">Content</a></li>
			</ul>
		</nav>
		<div class="frame" id="settings">
			<h2>Settings</h2>
			<pre></pre>
		</div>
		<div class="frame" id="users">
			<h2>Users</h2>
			<pre></pre>
		</div>
		<script type="text/javascript" src="static/js/script.js"></script>
	</body>
</html>
